<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentValidation" version="5.6.2.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.7" targetFramework="net45" />
  <package id="NSubstitute" version="1.8.2.0" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="Qvc" version="0.7.0.21703" targetFramework="net45" />
  <package id="Shouldly" version="2.5.0" targetFramework="net45" />
</packages>